.container {
  display: flex;
  margin-bottom: 1.5rem;
}

.title {
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.25rem;
}

.wrapper {
  width: 100%;
  display: grid;    
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, .05);
}

.period {
  font-size: .5rem;
}

.name {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.as {
  font-size: 0.7rem;
  font-weight: 700;
}